<!DOCTYPE html>
<html>
  <head >
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class = "bg-white border-gray-200 dark:bg-blue-900">
      <div class= "hidden w-full md:block md:w-auto">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg">
          <li>
            <a href="#" class="block py-2 px-3 text-white justify-center" aria-current="page">
              <%= link_to "Home", root_path %>
            </a>
          </li>
          <li>
              <%= button_to "Log out", session_path, method: :delete if authenticated? %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="notice grid-rows-2">
      <%= notice %>
    </div>

    <main>
      <%= yield %>
    </main>
</html>
